<p>Walk N Roll is an app designed to help Dog Walking business owners organize their clients
  and schedules. Business owners can create accounts and track their clients, clients' pets,
  employees (dog walkers), services, and appointments.</p>

<br>

<div class="welcome_container">
  <%= link_to "Log In", business_owner_login_path, :class=> "nav_pills link_button" %>

  <%= link_to "Register", business_owner_signup_path, :class=> "nav_pills link_button"%>

  <%= link_to "Register / Sign In with Google", "/auth/google_oauth2", method: :get, :class=>"nav_pills_rainbow link_button" %>
</div>
