<h1>Get ready to Walk n Roll!</h1>



<p> Business Owners: </p>
  <%= link_to "Log In", business_owner_login_path, :class=> "nav_pills link_button" %>
  <br>
  <%= link_to "Register", business_owner_signup_path, :class=> "nav_pills link_button"%>
  <br>
  <%= link_to "Register & Sign In with Google", "/auth/google_oauth2" %>

<p style="color: lightgrey"> Clients:
  login // signup <br>
  not currently configured
</p>
