<h1>Get ready to Walk n Roll!</h1>



<p> Business Owners:
  <%= link_to "Log In", business_owner_login_path %>
  OR
  <%= link_to "Signup", business_owner_signup_path%>
</p>

<p style="color: lightgrey"> Clients:
  login // signup <br>
  not currently configured
</p>
