<h1>My Dog Walkers</h1>

<div>
  <%= link_to "Add Dog Walkers", new_dogwalker_path, :class=> "nav_pills link_button" %>
</div>
<br>

<table>
  <tr>
  <th>Name</th>
  <th>Appointments</th>
  <th></th>
  </tr>

  <% current_business_owner.dogwalkers.each do |w| %>
    <% if w.name !="Not Assigned" %>
    <tr>
      <td><%= link_to w.name, dogwalker_path(w), :class => "table_button" %></td>
      <td class="table_number"><%= w.appointments.count %></td>
      <td><%= link_to "Delete", "/dogwalkers/#{w.id}", method: :delete, :class => "delete_button"%></td>

      </tr>
    <% end %>
  <% end %>
</table>
