<h1>My Dog Walkers</h1>

<div>
  <%= link_to "Add Dog Walkers", new_dogwalker_path, :class=> "link_button" %>
</div>

<table>
  <% current_business_owner.dogwalkers.each do |w| %>
    <% if w.name !="Not Assigned" %>
    <tr class="services">
      <% if logged_in? %>
        <td><%= link_to "X", "/dogwalkers/#{w.id}", method: :delete, :class => "delete_button" %></td>
      <% end %>
        <td><%= link_to w.name, dogwalker_path(w), :class => "table_button" %></td>
      </tr>
    <% end %>
  <% end %>
</table>
