<h1>Add a New Dog Walker</h1>

<%= form_for(@dogwalker) do |f| %>
  <div class="form_item"><%= f.label :name %></div>
  <div class="form_item"><%= f.text_field :name, :class=>"text" %></div>

  <div class="form_item"><%= f.submit "Add Dog Walker", :class=>"submit" %></div>
<% end %>
