/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* h1.name {
   font-family: 'Kaushan Script';
   font-size: 50px;
 } */

 /* img.headerimage {
   max-width: 70%;
   max-height: 180px;
 } */

 /* .container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
 }

 .container2 {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: stretch;
 } */

 nav.menu_bar {
   display: flex;
   flex-direction: row;
   justify-content: left;
   padding: 5px;
   padding-left: 3%;
   background-color: darkseagreen;
   color: #000000;
   font-family: 'Coiny', sans-serif;
 }

 div.menu_items {
   padding-right: 3%;
   letter-spacing: 2px;
 }

 div.name_tag {
   color: white;
   font-family: 'Trebuchet MS';
   font-style: italic;
 }

 a {
   color: white;
   text-decoration: none;
   font-size: 15px;
   font-weight: bold;
   letter-spacing: 2px;
   text-transform:uppercase;
 }

 div.top_header {
   background:
   linear-gradient(
     rgba(30, 139, 195, 0.55),
     rgba(30, 139, 195, 0.55)
     ),
    url("https://cdn.kinsights.com/cache/2a/7e/2a7e168b69bef23d6eecea9695467ac3.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center bottom;
   height: 300px;
 }

 div.title {
   font-family: 'Coiny', sans-serif;
   color: white;
   font-size: 200%;
   line-height: 30px;
   padding-left: 3%;
   padding-top: 10%;
 }

 div.owner_homepage_links {
   display: flex;
   flex-direction: row;
   justify-content: left;
   padding: 5px;
 }

 a.link_button {
   text-decoration: none;
   font-size: 15px;
   background-color: deepskyblue;
   padding: 6px;
   line-height: 40px;
 }

 a.delete_button {
   background-color: red;
   padding: 8px;
   border-radius: 15%;
   font-weight: normal;
   text-align: center;
 }
 a.edit_button {
   background-color: blue;
   padding: 8px;
   border-radius: 15%;
   font-weight: normal;
   text-align: center;
 }

 .table_button{
   text-decoration: none;
   font-size: 15px;
   color: black;
   font-weight: bold;
   padding: 6px;
   line-height: 20px;
 }

 body {
   font-family: 'Trebuchet MS', sans-serif;
   margin: 0;
 }

 div.page_content {
   padding: 3%;
 }

 th {
   text-align: left;
   padding-right: 20px;
 }

 td {
   padding: 5px;
 }

 tr.services {
   line-height: 30px;
 }

ul {
    list-style-type: none;
}
