/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* h1.name {
   font-family: 'Kaushan Script';
   font-size: 50px;
 } */

 /* img.headerimage {
   max-width: 70%;
   max-height: 180px;
 } */


 nav.menu_bar {
   display: flex;
   flex-direction: row;
   justify-content: left;
   padding: 5px;
   padding-left: 3%;
   background-color: darkseagreen;
   color: #000000;
   font-family: 'Coiny', sans-serif;
 }

 div.menu_items {
   padding-right: 3%;
   letter-spacing: 2px;
 }

 div.name_tag {
   color: white;
   font-family: 'Trebuchet MS';
   font-style: italic;
 }

 a {
   color: white;
   text-decoration: none;
   font-size: 15px;
   font-weight: bold;
   letter-spacing: 2px;
   text-transform:uppercase;
 }

 div.top_header {
   background:
   linear-gradient(
     rgba(30, 139, 195, 0.55),
     rgba(30, 139, 195, 0.55)
     ),
    url("https://cdn.kinsights.com/cache/2a/7e/2a7e168b69bef23d6eecea9695467ac3.jpg");
   background-repeat: repeat;
   background-size: cover;
   background-position: center -500px;
   height: 200px;
 }

 div.title {
   font-family: 'Coiny', sans-serif;
   color: white;
   font-size: 200%;
   line-height: 30px;
   padding-left: 3%;
   padding-top: 3%;
 }

 div.owner_homepage_links {
   display: flex;
   flex-direction: row;
   justify-content: left;
   padding: 5px;
 }

 a.link_button {
   text-decoration: none;
   font-size: 15px;
   font-family: 'Coiny', sans-serif;
   padding: 10px 20px;
   border-radius: 25px;
   line-height: 15px;
 }

 a.delete_button {
   background-color: #FA8072;
   padding: 4px 10px;
   font-weight: normal;
   text-align: center;
 }
 a.edit_button {
   color: black;
   background-color: #AFEEEE;
   padding: 4px 10px;
   font-weight: normal;
   text-align: center;
 }

 .table_button{
   text-decoration: none;
   font-size: 15px;
   color: black;
   font-weight: bold;
   padding: 6px;
   line-height: 20px;
 }

 body {
   font-family: 'Trebuchet MS', sans-serif;
   margin: 0;
 }

 div.page_content {
   padding: 3%;
 }

 th {
   text-align: left;
   padding: 5px 30px 5px 0px;
   border-bottom: 1px dashed black;
   margin-bottom: 10px;
 }

 td {
   padding: 5px 15px 5px 0px;
 }

 tr.services {
   line-height: 30px;
 }

ul {
    list-style-type: none;
}

div.home_tile_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.container{
  display: flex;
  flex-direction: row;
  justify-content: left;
}

div.home_tile{
  background-color: #AFEEEE;
  width: 20%;
  text-align: center;
  padding-top: 10px;
  margin: 2%;
  border-radius: 25px;
}

p.kpi {
  font-size: 40px;
}

.table_number {
  text-align: center;
}

.nav_pills {
  margin-right: 10px;
  background-color: #8FBC8F;
}

.nav_pills_rainbow {
  margin-right: 10px;
  background: linear-gradient(0.25turn, #4285f4, #ea4335, #fbbc05, #34a853);
}

.nav_pills_red {
  margin-right: 10px;
  background-color: #FA8072;
}

label {
  line-height: 25px;
  text-align: center;
}

input.text {
  border: none;
  padding: 10px 10px;
  margin: 0;
  background: #f8f8f8;
  width: 300px;
  font-family: monospace;
  text-align: center;
}

#appointment_apptdate {
  width: 280px;
}

input.submit {
  border: none;
  background: #8FBC8F;
  font-size: 15px;
  font-family: 'Coiny', sans-serif;
  padding: 10px 20px;
  border-radius: 25px;
  color: white;
  margin-top: 10px;
}

div.center_form {
  display: flex;
  justify-content: center;
  text-align: center;
}

div.form_item {
  line-height: 20px;
}

div.split_container {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

div.welcome_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.left_half {
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  background-color: #AFEEEE;
  padding: 20px;
  margin-right: 20px;
  width: 45%;
}

div.right_half {
  border-radius: 25px;
  background-color: #AFEEEE;
  padding: 20px;
  width: 45%;
}

select {
  border: none;
  padding: 10px 10px;
  margin: 0;
  background: #f8f8f8;
  width: 300px;
  font-family: monospace;
  text-align: center;
}

.red_notice {
  color: red;
}
