/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* h1.name {
   font-family: 'Kaushan Script';
   font-size: 50px;
 } */

 /* img.headerimage {
   max-width: 70%;
   max-height: 180px;
 } */

 /* .container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
 }

 .container2 {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: stretch;
 } */

 nav.menu_bar {
   display: flex;
   flex-direction: row;
   justify-content: left;
   padding: 5px;
   background-color: darkseagreen;
   color: #000000;
 }

 div.menu_items {
   padding-right: 3%;
   letter-spacing: 2px;
 }

 a {
   font-family: inherit;
   color: white;
   text-decoration: none;
   font-size: 15px;
   font-weight: bold;
   letter-spacing: 2px;
   text-transform:uppercase;
 }

 div.owner_homepage_links {
   display: flex;
   flex-direction: row;
   justify-content: left;
   padding: 5px;
 }
 a.link_button {
   font-family: inherit;
   text-decoration: none;
   font-size: 15px;
   background-color: black;
   padding: 6px;
   line-height: 40px;
 }

 body {
   font-family: serif;
 }

 th {
   text-align: left;
   padding-right: 20px;
 }

 td {
   padding: 5px;
 }
