<% if object.errors.any? %>
  <div class="errors">
    <h4>The following errors prohibited this from being saved:</h4>

    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
